/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo img {
    width: 40px;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

.logo-text {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: top;
    color: #335c77;
}

nav {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #335c77;
    border-bottom: 1px solid #005a8c;
}

/*main styling home*/

.body-text-home-centerpiece {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: bold;
}


.body-text-home-description {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #555;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    text-align: center;
}

.body-text-home-description:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.body-text-home-description-heading {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.body-text-home-description-content-heading {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center
}

.home-bottom-content-heading {
    font-size: 25px;
    text-align: center
}

.body-text-home-description-content {
    font-size: 1.0rem;
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.opening-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.centerpiece-image {
    width: 400px;
    height: auto;
    padding-right: 30px;
}

.main-descriptive-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.decription-icon {
    width: 10px;
    height: 10px;
    align-items: center;
}

.home-bottom-img {
    align-items: center;
}

/* Create three equal columns that float next to each other */
.column-home {
    float: left;
    width: 33.33%;
    text-align: center;
}

.body-text-home-description-content:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Clear floats after the columns */
.row-home:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

.slide {
    float: left;
    height: 510px;
    width: 728px;
}

.slide-wrapper {

    /* Calculate the total width on the
  basis of number of slides */
    width: calc(728px * 4);

    /* Specify the animation with the
  duration and speed */
    animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */

.slide:nth-child(1) {
    background: black;
}

.slide:nth-child(2) {
    background: black;
}

.slide:nth-child(3) {
    background: black;
}

.slide:nth-child(4) {
    background: black;
}

@keyframes slide {

    /* Calculate the margin-left for
  each of the slides */
    20% {
        margin-left: 0px;
    }

    40% {
        margin-left: calc(-728px * 1);
    }

    60% {
        margin-left: calc(-728px * 2);
    }

    80% {
        margin-left: calc(-728px * 3);
    }
}

.home-bottom-heading {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

footer {
    background-color: #eee;
    color: #333;
    text-align: center;
    padding: 10px;
  }

footer a {
    color: #333;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }