/* 

FileName: style.css
*/


/* ------------ Global Styles ------------ */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Sam.B Global Variables for standardised styling */
:root {
  font-size: 16px;
  --main-color: #EC1C2D;
}

/* Sam.B Overide default behaviours to produce more predictible behaviours */
html {
  height: 100vh;
  overflow-x: hidden;
}

/* Sam.B Overide default behaviours to produce more predictible behaviours */
* {
  outline: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Sam.B All elements tagged with main-color will be assigned the main color allowing us to change our minds later */
.main-color {
  color: var(--main-color);
}

main {
  width: 100vw;
  padding: 8vh 10vw;
}




/* ------------ Header ------------ */

/* Sam.B Setting the header to stay on the top of the screen above any elements */
header {
  z-index: 1;
  position: sticky;
  top: 0;
  padding: 6vh 10vw;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  box-shadow: 0 0 .8rem 0 #ccc;
  border-radius: .5rem;
}

/* Sam.B General link styles */
header a :hover {
  cursor: pointer;
  text-align: center;
}

/* Sam.B Hovering over the defult nav menu items causes them to change to the main colour and enlarge slightly */
.original-menu :hover {
  color: var(--main-color);
  font-size: 1.1rem;
  transition: ease 100ms;
}

/* Sam.B Header elements are listed horizontally and spaced out evenly a centered */
header ul {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.original-menu {
  list-style-type: none;
  text-align: center;
  width: 13vw;
}

header ul a {
  text-decoration: none;
  color: black;
  width: 16vw;
}

.container {
  height: auto;
  width: 100%;
}

.drop-down {
  background-color: white;
  position: absolute;
  left: 0;
  width: 100vw;
  font-size: 2rem;
  display: none;
}

.drop-down ul {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  height: 80vh;
}

.drop-down ul li {
  height: 20%;
  display: flex;
}

.drop-down a {
  align-self: center;
  width: fit-content;
}

.drop-down ul :hover {
  color: black;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu input {
  appearance: none;
  width: max-content;
}

.close {
  display: none;
  position: relative;
}

.menu {
  position: relative;
}

/* Sam.B Animation for expanding navbar  */
@keyframes drop-down-expand {
  from {
    height: 0;
  }

  to {
    height: 80vh;
  }
}

header ul li a,
section ul li a {
  color: rgb(101, 101, 101);
  text-decoration: none;
}

/* ------------ Resolution Handling ------------ */
@media only screen and (max-width: 900px) {
  ul :is(.original-menu, .main-color) {
    display: none;
  }

  :has(.hamburger-menu [type=checkbox]:checked)~.drop-down {
    display: block;
    animation: drop-down-expand .3s;
    height: 90vh;
  }

  :has(.hamburger-menu [type=checkbox]:checked) {
    overflow: none;
  }

  [type=checkbox]:checked~.close {
    display: block;
  }

  [type=checkbox]:checked~.menu {
    display: none;
  }

}

@media only screen and (min-width: 900px) {

  /* Sam.B Hide hamburger menu again if the screen is scaled back up */
  .hamburger-menu {
    display: none;
  }
}



/* ------------ Apply ------------ */
.apply-main {
  display: flex;
  justify-content: center;
}

form {
  /* width: 50%; */
}

form>* {
  padding: 1rem 0;
}

fieldset {
  border: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}


fieldset.apply-full-width {
  grid-template-columns: 1fr;
  width: 40%;
}

.apply-bold {
  font-weight: bold;
}

.other-label {
  justify-self: start;
}

.apply-skills :first-child {
  grid-area: header;
  padding-bottom: 1rem;
}

.other-input {
  grid-area: input;
  justify-content: stretch;
  height: 15rem;
  max-width: 80%;
}

.other-label {
  grid-area: label;
}

.apply-skills {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    ". label"
    ". input"
    ". input"
    ". input"
    ". input"
    ". input"
    ". input"
    ". input";
}

.apply-skill {
  display: flex;
}

/* Sam.B Styling submit button on hover effect*/
fieldset.apply-full-width :hover {
  cursor: pointer;
  background-color: var(--main-color);
}

/* Sam.B Styling submit button styling*/
input[type=submit] {
  background-color: #ef4856;
  color: white;
  border: 2px solid rgb(101, 101, 101);
  border-radius: .3rem;
  padding: 1rem;
}





/* ------------ About-Lexi ------------ */

.about-main h2,
.enh-main h2 {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
}

.about-main hr {
  margin-bottom: 2rem;
}

.about-arrow {
  text-align: center;
  font-size: 30px;
  color: var(--main-color);
  padding: 1rem 0;
}

.about-main>section:not(:last-child) {
  padding-bottom: 5vh;
}

.about-group-details {
  width: 50%;
  background-color: var(--main-color);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.about-group-img {
  width: 50%;
  height: 100%;
  border: #ccc 2px solid;
  float: right;
  margin-left: 2rem;
  clear: none;
}

#enhancement-lexi {
  clear: both;
  padding-top: 5vh;
}

.about-group-details dl {
  width: 100%;
  padding: 1rem 0;
}

.about-group-details a {
  color: white;
}

/* ------------ Flipper Section ------------ */

/* set flipper container to flex, allowing flippers to distribute evenly */
.flip-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Sets margin on the first three flippers */
.flip-container .flipper:not(.flip-container :last-child) {
  margin-right: 2rem;
}

/* sets the width to 20%, height to 250px, adds a transition effect when 
transforming, sets the transform style to preserve-3d */
.flipper {
  height: 25vh;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 25%;
}

/* set the front and back of the flipper to absolute position so they are 
 at the same position of the page, also hides the backface of the elements 
 during the 3D transform.*/
.flipper .front,
.flipper .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  backface-visibility: hidden;
  text-align: center;
  border-radius: 5%;
  padding: 2rem;
}

/* set front is on top of back content */
.flipper .front,
.flipper .back {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  rotating back 180 degrees along the y-axis so that it appears flipped over*/
.flipper .back {
  transform: rotateY(180deg);
  flex-direction: column;
}

.flipper .back {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  margin: 0 5%;
}

.flipper .back h3 {
  font-weight: 800;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
}

/* when hover, applies a 3D rotation to the flipper element, rotating it */
.flipper:hover {
  transform: rotateY(180deg);
}

.flipper img {
  height: 100%;
}


/* ------------ Intro Section ------------ */

/* set style for the meet our team introduction */
#team-introduction {
  text-align: center;
  padding: 10vh 10vw;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
}

/* ------------ Profiles Section ------------ */
/* hide radio button */
.about-profile input {
  display: none;
}

/* Set the default styles for the content elements */
.about-profile .content {
  display: none;
}

/* Set the content display for sam, preston, saffan and randew */
.about-profile .content {
  padding: 2rem;
  border-radius: 5px;
  border: 4px solid var(--main-color);
}

.about-profile .content a {
  color: black;
}

/* set profile image display in line with the profile content */
.about-profile .content figure {
  display: inline-block;
  width: 25%;
  margin: 5%;
}

.about-profile .content figure img {
  width: 90%;
}


.about-profile-content {
  display: inline-block;
  width: 70%;
  padding: 2%;
}

/* set style for unselected label*/
.about-profile label {
  display: inline-block;
  text-align: left;
  padding: 5px;
  border-radius: 5px 5px 0 0;
  margin-bottom: -4px;
  width: 15%;
}

/* set style for hovered label */
.about-profile label:hover {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-bottom: var(--main-color);
}

/* set style for checked label */
.about-profile input[type="radio"]:checked+label {
  border: 4px solid var(--main-color);
  border-bottom: #ffffff;
  background-color: #ffffff;
  z-index: 2;
  font-weight: bold;
}

/* Show the content element for Lexi when its radio button is checked */
/* don't change this, the border radius is different with other sections */
#lexi_l:checked~#lexi {
  display: flex;
  padding: 2%;
  border-radius: 0 5px 5px 5px;
  align-items: center;
  border: 4px solid var(--main-color);
}

/* Show the content element for Sam when its radio button is checked */
#sam_l:checked~#sam {
  display: flex;
}

/* Show the content element for Preston when its radio button is checked */
#preston_l:checked~#preston {
  display: flex;
}

/* Show the content element for Saffan when its radio button is checked */
#saffan_l:checked~#saffan {
  display: flex;
}

/* Show the content element for Randew when its radio button is checked */
#randew_l:checked~#randew {
  display: flex;
}

/* ------------ Contact Section ------------ */

/* About Page-section 4: map and contact us */
/* sets the display to flex and centers the items horizontally and vertically.*/
.about-map {
  display: flex;
}

/* sets the figure width(iframe) to 40% and centers the content horizontally. */
.about-map>* {
  width: 50%;
}

/* style contact us content */
.about-map-address {
  padding: 2rem;
  background-color: var(--main-color);
  color: white;
  border-radius: 5px;
  margin-left: 2rem;
}

.about-map-address a {
  color: white;
}

.about-map-address p {
  margin-top: 1rem;
}

/* ------------ Timetable Section ------------ */

.about-timetable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-timetable table {
  border: 2px solid var(--main-color);
  border-collapse: collapse;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  display: block;
  border-radius: 5px;
}

.about-timetable td,
.about-timetable th {
  border: 1px solid var(--main-color);
  border-right: none;
  border-left: none;
  font-weight: bold;
  margin: auto;
}

/* Cancel the border of coloured cells */
.about-timetable .color {
  border: none;
}

/* set header in column row to bold and other styles */
.about-timetable .column-header {

  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid var(--main-color);
  ;
}

/* Colouring specific cell to reflect our assignment plan */
.about-timetable .one {
  background-color: #caf0f8;
}

.about-timetable .two {
  background-color: #90e0ef;
}

.about-timetable .three {
  background-color: #0096c7;
}

.about-timetable .four {
  background-color: #0077b6;
}

.about-timetable .five {
  background-color: #023e8a;
}

.about-timetable .six {
  background-color: #e76f51;
}




/* This is the media query section of the CSS code which targets screens with a maximum 
width of 768px, typically mobile devices. It adjusts the styling of various sections to 
make them more responsive and mobile-friendly. */
@media (max-width: 900px) {

  .about-group-info,
  .about-map {
    flex-direction: column;
  }

  .about-group-details,
  .about-group-img,
  .about-map-address,
  .iframe {
    width: 100%;
  }

  .about-group-img {
    margin: 0 0 2rem 0;
    max-width: 100%;
    float: none;
  }

  .about-map-address {
    margin: 2rem 0 0 0;
  }

  .iframe {
    height: 40vh;
  }

}



/* ------------ Jobs ------------ */

.jobs-aside {
  width: 50%;
  padding-left: 7px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightpink;
}

.jobs-section-collapse summary {
  cursor: pointer
}

.jobs-section-collapse summary>* {
  display: inline;
  font-family: system-ui, "Segoe UI", sans-serif;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 .5rem;
}

.jobs-section-collapse {
  background: #eee;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
}

/* give these a class before colouring them :)
/* h3, h4 {color: var(--main-color);}


/* -------- Enhancements ---------- */


#enh-title>* {
  text-align: center;
}

/* Style each enhancement description section*/
.enh-enhance-sect {
  background-color: lightgrey;
  border: solid;
  border-width: .3em;
  border-radius: .4em;
  border-color: var(--main-color);
  margin: 2em;
}

.enh-enhance-sect>h3 {
  margin: 1em 2em;
}

.enh-enhance-sect>hr {
  margin: 0% 2.5% 0% 2.5%;
}

.enh-enhance-sect>p {
  padding: 1em 3em;
}

/* Style the bottom paragraph (link to enhancement paragraph) to give some room at the bottom of the section*/
.enh-enhance-sect>p:last-child {
  margin-bottom: 1em;
}

/* Style the code example boxes, keeping them square, ensuring text-wrapping, and try make writing code in them easy */
.enh-codebox {
  font-family: monospace;
  margin: 0em 4em 1em 4em;
  background: white;
  word-wrap: break-word;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  display: block;
  white-space: pre-line;
  max-width: 700px;
  min-width: 40%;
}



/* ------------ Footer ------------ */
footer>* {
  color: white;
  fill: white;
  margin: auto;
}

footer {
  background-color: #000000;
  width: 100%;
  padding: 0 10vw 1rem 10vw;
  font-size: small;
  justify-content: center;
  text-align: center;
}

footer ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

footer li {
  width: fit-content;
  margin: 0 0.5rem 0 0.5rem;
}

footer a {
  text-decoration: none;
  color: #ccc;
  display: flex;
  align-items: center;
}

footer section {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

footer table :hover,
footer a :hover {
  color: white;
}

footer h2 {
  font-size: 1rem;
}